ul{
    background-color: black;
    color: white;
    padding: 20px;
  }  
    
nav li{
    display: inline;
}
article{
    font-size: small;
}
h1{
    font-size: 250%;
}

ul li{
    display: inline;
}

heading{
    font-size: small;
}



   
* u {
    color: white;
}

h1{
    font-size: 50px;
}
 
.center{
    display: flex;
}

section{
    width: 75%;
}

aside{
    background: rgb(196, 191, 180);
    width: 25%;
}
header{
    display: flex;
}
header p{
    margin: auto;
    font: size 200%;
}


@media screen and (max-width: 768px) {
    html{
        font-size: 40px;
    }
    aside{
        display: none;
    }
    a{
        display: block;
    {
    u{
        display: block-size: ;
    }    
    

   



