ul{
    background-color: black;
    color: white;
    padding: 20px;
    
    }heading{
    font-size: small;
    
}

ul li{
    background-color: black;
    color: white;
    padding: 20px;
    display: inline;
}

heading{
    font-size: small;
}

h1{
    font-size: 250%;
}
   
* u {
    color: white;
}


.bloc {
 display: flex;
 background: rgb(113,113,133);
 width: 100px;
 height: 100px;
}

    
    
 
        

    
    


