ul{
    background-color: black;
    color: white;
    padding: 20px;
    
    }heading{
    font-size: small;
    
}

ul li{
    background-color: black;
    color: white;
    padding: 20px;
    display: inline;
}

heading{
    font-size: small;
}

h1{
    font-size: 250%;
}
   
* u {
    color: white;
}h1

ul{

}
 
.center{
    display: flex;
}

section{
    width: 75%;
}

aside{
    background: rgb(196, 191, 180);
    width: 25%;
}
header{
    display: flex;
}
header p{
    margin: auto;
    font: size 200;
}
   
    





 
        

    
    


